.messagedlg {
	display: none;
	padding: 0;
	margin-top: .5em;
}

.messagedlg .contacts {
	width: 21%;
	height: 100%;
	float: left;
}

.messagedlg div ul {
	height: 100%;
	overflow: auto;
}

.messagedlg .messages {
	width: 78%;
	height: 84%;
	float: left;
	margin: 0 1% 0 0;
}

.messagedlg textarea {
	width: 78%;
	height: 16%;
	float: left;
	margin: 0 1% 0 0;
	padding: 0;
	resize: none;
	border-radius: 4px;
	border-color: #dddddd;
}

.messages .right span {
	display: block;
	width: 100%;
	text-align: right;
}

.messages .left span {
	display: block;
	width: 100%;
	text-align: left;
}

.contactActive {
	color: #080808;
	background-color: rgb(228, 241, 249);
}

#newContactDialog div {
	position: fixed;
	margin: 2px 5px;
	width: 330px;
}

#newContactDialog div span {
	font-size: 1em;
}

#newContactDialog p {
	margin-top: 42px;
}

#newContactDialog p input {
	margin: 2px 5px;
}