<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emg.datamanage.dao.errorlog.MaxidModelDao" >
  <resultMap id="BaseResultMap" type="com.emg.datamanage.pojo.MaxidModel" >
    <id column="maxid" property="maxid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="CurrentSchema">errorlog.</sql>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    maxid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.emg.datamanage.pojo.MaxidModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from <include refid="CurrentSchema"/>maxid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="CurrentSchema"/>maxid
    where maxid = #{maxid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.emg.datamanage.pojo.MaxidModelExample" >
    delete from <include refid="CurrentSchema"/>maxid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.emg.datamanage.pojo.MaxidModel" >
    insert into <include refid="CurrentSchema"/>maxid (maxid)
    values (#{maxid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.emg.datamanage.pojo.MaxidModel" >
    insert into <include refid="CurrentSchema"/>maxid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="maxid != null" >
        maxid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="maxid != null" >
        #{maxid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.emg.datamanage.pojo.MaxidModelExample" resultType="java.lang.Integer" >
    select count(*) from <include refid="CurrentSchema"/>maxid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" useGeneratedKeys="true" keyProperty="record.maxid"  parameterType="map" >
    update <include refid="CurrentSchema"/>maxid
    <set >
      <if test="record.maxid != null" >
        maxid = maxid + #{record.maxid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update <include refid="CurrentSchema"/>maxid
    set maxid = #{record.maxid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>